<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DatabaseName" value="coding-tracker.sqlite" />
		<add key="DatabasePath" value="E:\Git Repos\CodeReviews.Console.HabitTracker" />
		<add key="ConnectionString" value="Data Source=coding-tracker.sqlite;Version=3;" />
	</appSettings>
</configuration>