<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="dbPath" value="C:\Users\Andrew\Documents\coding stuff\C#\The C# Academy\CodingTrackerWithUnitTests2\CodingTrackerWithUnitTests2\bin\data\mydatabase.db"/>
	</appSettings>
	<connectionStrings>
		<add name="connection" connectionString="Data Source=C:\Users\Andrew\Documents\coding stuff\C#\The C# Academy\CodingTrackerWithUnitTests2\CodingTrackerWithUnitTests2\bin\data\mydatabase.db" providerName="System.Data.SQLite"/>
	</connectionStrings>
</configuration>
